/*  GLOBAL STYLES */

* {
    box-sizing: border-box;
}

body {
    font-family: "Rethink Sans", sans-serif;
    background-color: #FAFAFA;
    color: #4A4A4A;
    margin: 0;
    text-align: center;
}

section {
    padding: 2rem 0;
}

/*  TYPOGRAPHY STYLES */

h1, h2, h3 {
    color: #09032b;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 1.65rem;
    font-weight: 800;
}

#about h2 {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    color: #4A4A4A;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: "Work Sans", sans-serif;
}

/*  CUSTOM STYLES */

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav {
    font-size: 1.25rem;
    font-weight: 800;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    background-color: #FFF;
    padding: 1rem 0;
    margin-bottom: 0.5rem;
}

nav li:last-child {
 margin-bottom: 0;
}

nav li a {
    text-decoration: none;
    color: #4A4A4A;
}

#about {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

#about img {
    display: block;
    margin: 0 auto;
    max-width: 80%;   
}

#portfolio {
    background-color: #FFF;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.card {
    padding: 1rem 0;
}

.card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 1rem;
}

#skills {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

#contact b {
    padding-left: 0.5rem;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 1rem;
}

footer .container {
    border-top: #E7E7E7 solid 1px;
    display: flex;
    justify-content: space-between;
}
footer nav {
    display: none;
}

footer a {
    text-decoration: none;
    color: #4A4A4A;
}

/*  MEDIA QUERIES */

@media only screen and (min-width: 768px) {

h1 {
    font-size: 4rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

nav li {
    padding: 1rem 1rem;
    margin-bottom: 0;
    display: inline;
    background-color: #FAFAFA;
    border-radius: 5px;
}

nav li:hover {
    background-color: lightgrey;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about h2 {
    order: 0;
    text-align: left;
    width: 52%;
    margin: 0;
}

#about img {
    display: block;
    margin: 0;
    width: 45%; 
    order: 1; 
}

#portfolio .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 49%;
}

#skills .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills p {
    text-align: left;
}

#contact .container {
    max-width: 50%;
}

#backtotop {
    display: none;
}
footer nav {
    display: inline;
}

}

@media only screen and (min-width: 1024px) {

header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#about {
    justify-content: space-between;
}

#about h2 {
    width: 58%;
    margin: 0;
}

#about img {
    display: block;
    margin: 0 0;
    width: 40%;   
}

#portfolio .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 32%;
}

#skills .card {
        width: 48%;
}

#contact .container {
    max-width: 40%;
}

    }